@charset "utf-8";
/* CSS Document */

/* 例題19 */

table, tr, td {
	border: ;
	border-collapse: ;
	padding: ;
}

th {
	border: ;
	border-collapse: ;
	padding: ;
	background-color: ;
}

 {
	background-color: ;
}

 {
	background-color: ;
}