@charset "utf-8";
/* CSS Document */

/* 演習問題15 */

body { 
	
}

h1 { 
	
}

p { 
	
}

a:link { /* リンクの色 */
	
}

a:visited { /* 訪れたことのあるリンクの色 */
	
}

a:hover { /* カーソルをリンクにあわせた時の色 */
	
}
