@charset "utf-8";
/* CSS Document */

/* 演習問題27 */

h1 {
	font-size: 1.4em;
	font-weight: bold;
}

dl {
	width: 500px;
	border: solid 1px;
}

dt {
	font-size: 1.2em;
	font-weight: bold;
	margin: 10px;
	
}

dd {
	font-size: 0.9em;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}


